/* Selectors for the editor */
.htmlarea { 
	background: #fff; 
}
.pleasewait { 
	text-align: left; 
	font-size: 8pt; 
	position: relative; 
	top: 80; 
	margin-top: 30px; 
}

/* Selectors for the editor toolbar */
.htmlarea .toolbar {
	cursor: default;
	background-color: #e4e0db;
	padding: 1px 1px 2px 1px;
	border: 1px solid #e4e0db;
	border-bottom: 1px solid #000;
}
.htmlarea .toolbar table { 
	width: 100%;
}
.htmlarea .toolbar .tb-line { 
	width: 100%; 
}
.htmlarea .toolbar .tb-first-cell { 
	font-family: tahoma,verdana,sans-serif; 
	font-size: 11px; 
	height: 22px; 
	background-color: #e4e0db; 
	clear: right;
	float: left;
}
.htmlarea .toolbar .tb-cell { 
	font-family: tahoma,verdana,sans-serif; 
	font-size: 11px; 
	height: 22px; 
	background-color: #e4e0db; 
	float: left;
}
.htmlarea .toolbar img { 
	border: none; 
}
.htmlarea .toolbar .label { 
	padding: 4px 3px 0px 3px; 
	background-color: #e4e0db; 
}
.htmlarea .toolbar .button {
	background-color: #e4e0db;
	color: ButtonText;
	border: 1px solid #e4e0db;
	padding: 1px;
	margin: 0px;
	width: 18px;
	height: 18px;
}
.htmlarea .toolbar .buttonHover { 
	border: 1px solid; 
	border-color: #e4e0db #999999 #999999 #e4e0db; 
}
.htmlarea .toolbar .buttonActive {
	padding: 2px 0px 0px 2px;
	border: 1px solid;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
.htmlarea .toolbar .buttonPressed {
	padding: 2px 0px 0px 2px;
	border: 1px solid;
	border-color: #999999 #e4e0db #e4e0db #999999;
	background-color: ButtonHighlight;
}
.htmlarea .toolbar .indicator {
	margin: 4px 0px 0px 0px;
	padding: 0px 3px;
	overflow: hidden;
	width: 20px;
	text-align: center;
	cursor: default;
	border: 1px solid ButtonShadow;
}
.htmlarea .toolbar .buttonDisabled img { 
	filter: alpha(opacity = 25); 
	-moz-opacity: 0.25; 
}
.htmlarea .toolbar .separator {
	position: relative;
	margin: 0px 3px 0px 3px;
	padding: 0px;
	border-left: 1px solid #999;
	width: 0px;
	height: 20px;
}
.htmlarea .toolbar .space { 
	padding: 2px;
}
.htmlarea .toolbar select { 
	font: 11px Tahoma,Verdana,sans-serif; 
	margin: 2px 2px 0px 2px; 
}
.htmlarea .toolbar select, .htmlarea .toolbar select:hover, .htmlarea .toolbar select:active { 
	background: FieldFace; 
	color: ButtonText; 
}
.htmlarea .toolbar .buttonDisabled select { 
	background-color: #e4e0db;
}
.htmlarea .toolbar select.buttonDisabled { 
	background-color: #e4e0db;
}
.htmlarea iframe {
	margin: 0px;
	border: 1px solid #000;
	border-top: 0px;
}
.htmlarea .statusBar {
	border: 1px solid;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	padding: 2px 4px;
	background-color: ButtonFace;
	color: ButtonText;
	font: 11px Tahoma,Verdana,sans-serif;
}
.htmlarea .statusBar .statusBarTree a { 
	padding: 2px 5px; 
	color: #00f; 
}
.htmlarea .statusBar .statusBarTree a:visited { 
	color: #00f; 
}
.htmlarea .statusBar .statusBarTree a:hover { 
	background-color: Highlight; 
	color: HighlightText; 
	padding: 1px 4px; 
	border: 1px solid HighlightText; 
}

/* 
.dialog .title .button { float: right; border: 1px solid #66a; padding: 0px 1px 0px 2px; margin-right: 1px; color: #fff; text-align: center; }
.dialog .title .button-hilite { border-color: #88f; background: #44c; }
 */

.dialog .buttonColor { padding: 1px; cursor: default; border-width: 1px; border-style: solid; border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; }
.dialog .buttonColor-hilite { border-color: black black black black; }
.dialog .buttonColor .chooser, .dialog .buttonColor .nocolor { height: 0.6em; border-width: 1px; border-style: solid; padding: 0px 1em; border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow; }
.dialog .buttonColor .nocolor { padding: 0px; }
.dialog .buttonColor .nocolor-hilite { background-color: #fff; color: #f00; cursor: pointer}
/*
.dialog .label { text-align: right; width: 6em; }
.dialog .value input { width: 100%; }
*/

/* Selectors for popup windows */
.popupwin { 
	background-color: #e4e0db;
	color: ButtonText; 
	font-size: 11px; 
	font-family: Tahoma,Verdana,sans-serif; 
}
.popupwin body { 
	background-color: #e4e0db;
	color: ButtonText; 
	font-size: 11px; 
	font-family: Tahoma,Verdana,sans-serif; 
	margin: 5px; 
	padding: 0px; 
	border-style: none; 
}
.popupwin .title { 
	background-color: #ddf; 
	color: #000; 
	font-weight: bold; 
	font-size: 120%; 
	padding: 3px 10px; 
	margin-top: 0px; 
	margin-bottom: 10px; 
	border-top: 0px; 
	border-bottom: 1px solid black; 
	letter-spacing: 2px; 
	clear: both; 
}
.popupwin .content { 
	padding: 0px; 
	margin: 0px; 
	border-style: none; 
}
.popupwin table { 
	border-collapse: collapse; 
	border-style: none; 
	margin: 0px; 
	padding: 0px; 
}
.popupwin form { 
	padding: 0px; 
	margin: 0px; 
	border-style: none; 
}
.popupwin form p { 
	margin-top: 5px; 
	margin-bottom: 5px; 
}
.popupwin fieldset { 
	margin-top: 5px; 
	margin-bottom: 0px; 
	padding: 5px 5px 5px 5px; 
}
.popupwin legend { 
	font-weight: bold; 
}
.popupwin .floating { 
	float: left; 
}
.popupwin .field { 
	margin-left: 5px; 
	float: left; 
	padding: 2px 5px; 
	text-align: left; 
}
.popupwin fieldset table { 
	font-size: 11px; 
	font-family: Tahoma,Verdana,sans-serif; 
	margin: 2px 0px; 
	padding: 0px; 
	border-style: none; 
}
.popupwin .buttons { 
	clear: both; 
	margin-top: 10px; 
	border-top: 1px solid #999; 
	padding: 5px; 
	text-align: right; 
}
.popupwin span.colorButton { 
	float: left; 
	padding: 2px 0px; 
}
.popupwin select, input, button, textarea, table, label { 
	font: 11px Tahoma,Verdana,sans-serif; 
}
.popupwin button { 
	background-color: #e4e0db;
	width: 8em; 
	padding: 0px; 
}
.popupwin button.long-button { 
	width: 10em; 
}
.popupwin .fl { 
	width: 13em; 
	float: left; 
	padding: 2px 5px; 
	text-align: right; 
}
.popupwin .fl-borderCollapse { 
	margin-left: 10px; 
	width: 13em; 
	float: left; 
	padding: 2px 5px; 
	text-align: right; 
}
.popupwin .fr { 
	width: 9em; 
	float: left; 
	padding: 2px 5px; 
	text-align: right; 
}
.popupwin .space { 
	clear: left; 
	padding: 2px; }
.popupwin .label { 
	text-align: right; 
	width: 8em; 
}
.popupwin .checkbox { 
	text-align: left; 
	padding: 2px 5px; 
}
.popupwin .postlabel { 
	text-align: left; 
	padding: 2px 5px; 
}
.popupwin input.value { 
	width: 30em; 
}
.popupwin input.shorter-value { 
	width: 17em; 
}

*#--HA-layout { width: 450px; }

.colorTable { border-right: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; }
.currentColor { border-right: black 1px solid; BORDER-TOP: black 1px solid; margin-top: 0pt; margin-right: 15pt; margin-bottom: 0pt; margin-left: 15pt; BORDER-LEFT: black 1px solid; WIDTH: 20px; BORDER-BOTTOM: black 1px solid; HEIGHT: 20px; }
.colorTable tr { height: 6px; }
.colorTable td { width: 6px; cursor: pointer; }

/* Selectors for the InsertImage popup */
.popupwin div.imagepreview  { text-align: center; }
.popupwin .imagepreview iframe { 
	border: 1px solid gray; 
	width: 300; 
	height: 200; 
}
/* Selectors for the InsertSmiley plugin */
.popupwin div.smileytable  { 
	height: 125px; 
	overflow:auto; 
}
.popupwin .smileytable td { 
	width: 35px; 
	height: 25px; 
}
/* Selectors for the FindReplace plugin */
.popupwin .long-label { 
	text-align: left; 
	width: 16em; 
}
/* Selectors for the SpellChecker plugin */
.popupwin #b_recheck { 
	vertical-align: middle; 
	width: 12em;
}
